:root {
    --uncc-green: rgb(0 80 53);
    --uncc-gold: rgb(164 150 101);
    --uncc-darker-green: rgb(0 60 43);
    --uncc-darker-gold: rgb(144 130 81);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-rows: 8rem 1fr 2rem;
}  
.body-fixed {
    position: fixed;
}

main {
    grid-row: 2;
}

h1 {
    color: var(--uncc-gold);
    font-size: xx-large;
}


/*header*/
header {
    grid-row: 1;
    background-color: var(--uncc-green);
    width: 100%;
    display: grid;
    grid-template-columns: 12% auto 24%;
    align-items: center;
    position: sticky;
    top: 0;
    border: 3px solid var(--uncc-darker-gold);
}

.header-img {
    height: 4rem;
    width: auto;
    grid-column: 1;
}

header h1 {
    color: var(--uncc-gold);
    margin: 0 100px;
    grid-column: 3;
    font-size: x-large;
    font-weight: bold;
}

.header-middle {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.header-a {
    background-color: white;
    color: var(--uncc-gold);
    min-width: 16rem;
    border-radius: 1rem;
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: x-large;
}
.header-a:hover {
    background-color: gainsboro;
}


/*footer*/
footer {
    grid-row: 3;
    position: fixed;
    bottom: 0;
    background-color: var(--uncc-green);
    width: 100%;
    border: 3px solid var(--uncc-darker-gold);
}
footer p {
    color: white;
    font-size: small;
}


/*home page*/
.home-page {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-text {
    background-color: var(--uncc-green);
    padding: 2rem;
    color: var(--uncc-gold);
    border-radius: 2rem;
    grid-column: 1;
    width: 30rem;
    place-self: center;
    margin-top: 2rem;
}

.home-image {
    grid-column: 2;
    height: 384px;
    width: 34rem;
    place-self: center;
    margin-top: 2rem;
    border-radius: 2rem;
    box-sizing: border-box;
    border: 3px solid var(--uncc-darker-gold);
}


/*resources page */
.resources-grid {
    display: grid;
    grid-template-columns: 12% auto;
    height: 100vh;
    gap: 1rem;
}

.resources-sidebar {
    grid-column: 1;
    background-color: var(--uncc-green);
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--uncc-darker-gold);
    border-right: 3px solid var(--uncc-darker-gold);
}

.resources-sidebar a {
    color: var(--uncc-gold);
    font-size: large;
    width: 100%; 
    padding: 5px 0;
    text-decoration: none;
    margin: 5px 0;
}
.resources-sidebar a:hover {
    background-color: var(--uncc-gold);
    color: var(--uncc-green);
}

.resources-main {
    grid-column: 2;
    overflow-y: auto;
    margin-bottom: 12rem;
}
.resources-main::-webkit-scrollbar {
    display: none;
}

.resources-section {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
}

.resources-description {
    grid-column: 1 / 3;
    grid-row: 1;
}
.resources-description p {
    text-align: left;
}
.resources-description h2 {
    color: var(--uncc-green);
    text-align: left;
}

.resources-video {
    grid-column: 2;
    grid-row: 2;
}
.resources-video iframe {
    height: 25rem;
    width: 80%;
}

.resources-links {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
.resources-links p {
    color: var(--uncc-gold);
    text-align: left;
    font-size: large;
}
.resources-links a {
    color: black;
    margin-left: 0.5rem;
    text-align: left;
    margin-bottom: 3px;
}


/*Study Groups*/
.study-groups-page {
    margin-left: 10%;
    margin-right: 10%;
}
.study-groups-page p {
    text-align: left;
}

.study-groups-grid {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-bottom: 1rem;
}

.study-groups-inline {
    display: inline-block;
}

.study-groups-grid a {
    background-color: var(--uncc-green);
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    text-decoration: none;
    width: fit-content;
}
.study-groups-grid a:hover {
    background-color: var(--uncc-gold);
}

.study-groups-temp-image {
    height: auto;
    width: 80%;
}


/*Contact*/
.contact-page {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-div {
    background-color: gainsboro;
    padding: 2rem;
    width: 60%;
    border-radius: 2rem;
}

input[type="text"],
input[type="email"], 
textarea{
  margin-bottom: 0.5em;
  width: 100%;
  text-align: left;
  border-radius: 1rem;
  padding: 0.5rem;;
  border: 2px solid var(--uncc-darker-gold);
}

textarea {
    height: 10em;
}

input[type="submit"] {
    background-color: var(--uncc-green);
    border: 2px solid var(--uncc-darker-gold);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem; 
  }
  input[type="submit"]:hover {
    cursor: pointer;
  }
