*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: sans-serif;
}
  
  header {
    text-align: center;
    padding: 2rem;
    background-color: #046A38;
    color: #fff;
    border-bottom: 4px solid #b9975b;
  }

  main {
    width: 80%;
    margin: 0 auto;
  }

  .preview-container {
    margin: 1rem auto;
    max-width: 850px;
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
}

.preview {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block; 
  }
  
.preview-container figcaption {
    background-color: #046A38;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

.gallery {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
  

